body{
    margin: 0px;   
}


/* Header section */

header{
    width: 100%;
    position: relative;
}

header nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(180, 0, 0);
}

section.navBar a{
    padding: 0px 4px;
    color: black; 
}

/* links when clicked*/

a:hover{ 
    text-decoration: none;
    color:rgb(255, 0, 0);
    transition: .5s;
}

a:visited{ 
    text-decoration: none;
    color:black;
}
a:link{
    text-decoration: none;
    color:black;
}

/* Side bar style and animation*/
.sideBar{
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideBar li{
    list-style-type: none;
}
.sideBar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideBar a:hover{
    color: #f1f1f1;
}

.sideBar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor:pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

span.sideBarIcon{
    font-size:30px;
    cursor:pointer;
}